// Check the wiki for a full description of the configuration:
//   https://yalter.github.io/niri/Configuration:-Introduction
// ----------------------------------------------------------------------------
// Launch at startup
// ----------------------------------------------------------------------------
spawn-at-startup "swayidle" "-w"
// ----------------------------------------------------------------------------
// Input devices (mouse, trackpad, keyboard, etc.)
// ----------------------------------------------------------------------------
input {
    keyboard {
        xkb {
            // Swap caps lock and escape.
            // Remap menu key to act as an extra super / mod key.
            options "altwin:menu_win"
        }
        // A fairly fast repeat rate and delay.
        repeat-delay 200
        repeat-rate 40
    }
    touchpad {
        // Tapping anywhere registers a left click.
        tap
        // Inverted scrolling.
        natural-scroll
        // Disable acceleration.
        accel-profile "flat"
    }
    mouse {
        // Disable acceleration.
        accel-profile "flat"
        // Faster scrolling with the mouse wheel.
        scroll-factor 2.0
    }
}
// ----------------------------------------------------------------------------
// Behaviors and aesthetics
// ----------------------------------------------------------------------------
// Avoid writing screenshots to disk since they get piped into satty.
screenshot-path null
hotkey-overlay {
    // Avoid auto-showing the important hotkeys menu.
    skip-at-startup
}
gestures {
    // Disable overview when mousing over the top left of primary screen.
    hot-corners {
        off
    }
}
// Remove window decorations (requires opening and closing each app to change).
prefer-no-csd
layout {
    // Set gaps around windows in logical pixels.
    gaps 8
    default-column-width {
        proportion 0.5
    }
    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.66
    }
    focus-ring {
        width 1
    }
}
// ----------------------------------------------------------------------------
// Window / layer rules
// ----------------------------------------------------------------------------
window-rule {
    match app-id="dev.zed.Zed"
    tiled-state true
    geometry-corner-radius 2
    clip-to-geometry true
}
// Assorted window rules.
window-rule {
    match app-id="^Pinentry-gtk$"
    match app-id="^Tk$"
    match app-id="^gimp$" title="Preferences"
    match app-id="^mpv$"
    match app-id="^soffice$" title="^Text Import"
    match app-id="^thunar$" title="^Rename "
    match app-id="^virt-manager$" title=" - Connection Details"
    match app-id="^wev$"
    match app-id="^xarchiver$"
    match app-id="firefox$" title="^(Picture-in-Picture|Library|About Mozilla Firefox|Firefox - Choose a profile)$"
    open-floating true
}
window-rule {
    match app-id="^floating\\.kitty$"
    match app-id="^dfr\\.floating\\.thunar$"
    open-floating true
    default-column-width {
        proportion 0.4
    }
    default-window-height {
        proportion 0.5
    }
}
window-rule {
    match app-id="^com\\.gabm\\.satty$"
    open-floating true
    min-width 730
    min-height 300
}
window-rule {
    match app-id="^KeePassXC$"
    block-out-from "screencast"
}
// ----------------------------------------------------------------------------
// Key binds
// ----------------------------------------------------------------------------
binds {
    // Overview.
    Mod+Grave repeat=false cooldown-ms=200 hotkey-overlay-title="Terminal (floating)" {
        spawn-sh "$HOME/.local/bin/floating-terminal-toggle"
    }
    Mod+O repeat=false hotkey-overlay-title="Toggle overview (4-finger swipe)" {
        toggle-overview
    }
    // System.
    Mod+L hotkey-overlay-title="Lock screen" {
        spawn "swaylock-plugin" "--command" "$HOME/.config/wlogout/lock-bg.sh"
    }
    Mod+Shift+L hotkey-overlay-title="Power off monitors" {
        power-off-monitors
    }
    // Capture.
    Mod+S hotkey-overlay-title="Screenshot (region)" {
        screenshot
    }
    Mod+Shift+S hotkey-overlay-title="Screenshot (window)" {
        screenshot-window
    }
    Mod+Ctrl+S hotkey-overlay-title="Screenshot (monitor: focused)" {
        screenshot-screen
    }
    Mod+P {
        spawn "wlogout" "-b" "3"
    }
    Mod+Shift+P hotkey-overlay-title="Pick color" {
        spawn-sh "dms ipc call color-picker open"
    }
    // Notifications.
    Mod+N hotkey-overlay-title="Toggle Notification Center" {
        spawn "dms" "ipc" "call" "notifications" "toggle"
    }
    // Themes.
    Mod+BackSlash hotkey-overlay-title="Cycle theme's wallpapers" {
        spawn "dfr-theme-set-bg"
    }
    Mod+Shift+BackSlash hotkey-overlay-title="Pick theme's wallpapers" {
        spawn "dfr-theme-set-bg" "--menu"
    }
    Mod+Ctrl+BackSlash hotkey-overlay-title="Cycle themes" {
        spawn "dfr-theme-set"
    }
    Mod+Ctrl+Shift+BackSlash hotkey-overlay-title="Pick theme" {
        spawn "dfr-theme-set" "--menu"
    }
    // Media keys.
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Raise volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"
    }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Lower volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"
    }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Mute playback" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Mute microphone" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioPlay allow-when-locked=true hotkey-overlay-title="Play / pause track" {
        spawn "playerctl" "play-pause"
    }
    XF86AudioStop allow-when-locked=true hotkey-overlay-title="Stop track" {
        spawn "playerctl" "stop"
    }
    XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Previous track" {
        spawn "playerctl" "previous"
    }
    XF86AudioNext allow-when-locked=true hotkey-overlay-title="Next track" {
        spawn "playerctl" "next"
    }
    Shift+XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Seek -10 seconds" {
        spawn "playerctl" "position" "10-"
    }
    Shift+XF86AudioNext allow-when-locked=true hotkey-overlay-title="Seek +10 seconds" {
        spawn "playerctl" "position" "10+"
    }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Increase brightness" {
        spawn "brightnessctl" "--class=backlight" "set" "+5%"
    }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease brightness" {
        spawn "brightnessctl" "--class=backlight" "set" "5%-"
    }
    Ctrl+XF86MonBrightnessUp {
        spawn "brightnessctl" "--class=backlight" "set" "+1%"
    }
    Ctrl+XF86MonBrightnessDown {
        spawn "brightnessctl" "--class=backlight" "set" "1%-"
    }
    XF86Calculator repeat=false hotkey-overlay-title="Calculator" {
        spawn "gnome-calculator"
    }
    // Launcher.
    Mod+Space {
        spawn "fuzzel"
    }
    Mod+H repeat=false hotkey-overlay-title="Launcher (clipboard)" {
        spawn "dms" "ipc" "call" "clipboard" "toggle"
    }
    // Apps.
    Mod+Shift+T hotkey-overlay-title="Terminal" {
        spawn "~/.local/bin/kitty-focus"
    }
    Mod+Shift+F hotkey-overlay-title="File manager" {
        spawn "nautilus"
    }
    // change
    Mod+Alt+N hotkey-overlay-title="Notes" {
        spawn "dfr-launch-or-focus-tui" "notes"
    }
    // add
    Mod+M hotkey-overlay-title="Music" {
        spawn "dfr-launch-or-focus-tui" "rmpc"
    }
    Mod+B hotkey-overlay-title="Browser" {
        spawn "$HOME/Programs/zen.linux-x86_64/zen/zen"
    }
    Mod+Shift+B hotkey-overlay-title="Browser (private)" {
        spawn "~/Programs/zen.linux-x86_64/zen/zen" "-private-window"
    }
    Mod+Q repeat=false hotkey-overlay-title="Close window" {
        spawn "~/.local/bin/niri-close"
    }
    Mod+Shift+Q repeat=false hotkey-overlay-title="Kill window" {
        spawn "sh" "-c" "kill $(niri msg -j focused-window | jq -r .pid)"
    }
    Mod+C hotkey-overlay-title="Center column" {
        center-column
    }
    Mod+Z hotkey-overlay-title="Toggle floating window" {
        toggle-window-floating
    }
    Mod+Ctrl+Z hotkey-overlay-title="Switch focus between floating and tiling" {
        switch-focus-between-floating-and-tiling
    }
    // Window and column sizes.
    Mod+F hotkey-overlay-title="Maximize column" {
        maximize-column
    }
    Mod+Return hotkey-overlay-title="Toggle fullscreen" {
        fullscreen-window
    }
    Mod+Ctrl+R hotkey-overlay-title="Reset window height" {
        reset-window-height
    }
    Mod+Period hotkey-overlay-title="Increase column width" {
        set-column-width "+5%"
    }
    Mod+Comma hotkey-overlay-title="Decrease column width" {
        set-column-width "-5%"
    }
    // Window and column movement.
    Mod+I hotkey-overlay-title="Focus previously focused window" {
        focus-window-previous
    }
    Mod+Left hotkey-overlay-title="Focus column left" {
        focus-column-left
    }
    Mod+Right hotkey-overlay-title="Focus column right" {
        focus-column-right
    }
    Mod+Shift+Left hotkey-overlay-title="Move column left" {
        move-column-left
    }
    Mod+Shift+Right hotkey-overlay-title="Move column right" {
        move-column-right
    }
    Mod+Shift+Up hotkey-overlay-title="Move window up" {
        move-window-up
    }
    Mod+Shift+Down hotkey-overlay-title="Move window down" {
        move-window-down
    }
    Mod+BracketLeft hotkey-overlay-title="Focus first column" {
        focus-column-first
    }
    Mod+BracketRight hotkey-overlay-title="Focus last column" {
        focus-column-last
    }
    Mod+Shift+BracketLeft hotkey-overlay-title="Move column to first" {
        move-column-to-first
    }
    Mod+Shift+BracketRight hotkey-overlay-title="Move column to last" {
        move-column-to-last
    }
    Mod+WheelScrollDown hotkey-overlay-title="Focus column right" {
        focus-column-right
    }
    Mod+WheelScrollUp hotkey-overlay-title="Focus column left" {
        focus-column-left
    }
    Mod+Shift+WheelScrollDown hotkey-overlay-title="Move column right" {
        move-column-right
    }
    Mod+Shift+WheelScrollUp hotkey-overlay-title="Move column left" {
        move-column-left
    }
    // Multiple monitor window and column movement.
    Mod+Ctrl+Shift+Left hotkey-overlay-title="Move column to left monitor" {
        move-column-to-monitor-left
    }
    Mod+Ctrl+Shift+Down hotkey-overlay-title="Move column to lower monitor" {
        move-column-to-monitor-down
    }
    Mod+Ctrl+Shift+Up hotkey-overlay-title="Move column to upper monitor" {
        move-column-to-monitor-up
    }
    Mod+Ctrl+Shift+Right hotkey-overlay-title="Move column to right monitor" {
        move-column-to-monitor-right
    }
    Mod+Ctrl+Shift+H hotkey-overlay-title="Move column to left monitor" {
        move-column-to-monitor-left
    }
    Mod+Ctrl+Shift+J hotkey-overlay-title="Move column to lower monitor" {
        move-column-to-monitor-down
    }
    Mod+Ctrl+Shift+K hotkey-overlay-title="Move column to upper monitor" {
        move-column-to-monitor-up
    }
    Mod+Ctrl+Shift+L hotkey-overlay-title="Move column to right monitor" {
        move-column-to-monitor-right
    }
    Mod+MouseBack hotkey-overlay-title="Focus left monitor" {
        focus-monitor-left
    }
    Mod+MouseForward hotkey-overlay-title="Focus right monitor" {
        focus-monitor-right
    }
    Mod+Ctrl+Shift+MouseBack hotkey-overlay-title="Move column to left monitor" {
        move-column-to-monitor-left
    }
    Mod+Ctrl+Shift+MouseForward hotkey-overlay-title="Move column to right monitor" {
        move-column-to-monitor-right
    }
    // Workspaces.
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 hotkey-overlay-title="Focus next workspace" {
        focus-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 hotkey-overlay-title="Focus previous workspace" {
        focus-workspace-up
    }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 hotkey-overlay-title="Move column to next workspace" {
        move-column-to-workspace-down
    }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 hotkey-overlay-title="Move column to previous workspace" {
        move-column-to-workspace-up
    }
    Mod+1 hotkey-overlay-title="Focus workspace (1-9)" {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 hotkey-overlay-title="Move window to workspace (1-9)" {
        move-window-to-workspace 1
    }
    Mod+Shift+2 {
        move-window-to-workspace 2
    }
    Mod+Shift+3 {
        move-window-to-workspace 3
    }
    Mod+Shift+4 {
        move-window-to-workspace 4
    }
    Mod+Shift+5 {
        move-window-to-workspace 5
    }
    Mod+Shift+6 {
        move-window-to-workspace 6
    }
    Mod+Shift+7 {
        move-window-to-workspace 7
    }
    Mod+Shift+8 {
        move-window-to-workspace 8
    }
    Mod+Shift+9 {
        move-window-to-workspace 9
    }
    Mod+Ctrl+1 hotkey-overlay-title="Move column to workspace (1-9)" {
        move-column-to-workspace 1
    }
    Mod+Ctrl+2 {
        move-column-to-workspace 2
    }
    Mod+Ctrl+3 {
        move-column-to-workspace 3
    }
    Mod+Ctrl+4 {
        move-column-to-workspace 4
    }
    Mod+Ctrl+5 {
        move-column-to-workspace 5
    }
    Mod+Ctrl+6 {
        move-column-to-workspace 6
    }
    Mod+Ctrl+7 {
        move-column-to-workspace 7
    }
    Mod+Ctrl+8 {
        move-column-to-workspace 8
    }
    Mod+Ctrl+9 {
        move-column-to-workspace 9
    }
    // Apps such as remote-desktop clients and software KVM switches may request
    // that niri stops processing the keyboard shortcuts defined here so they
    // may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor, so a
    // buggy application can't hold your session hostage.
    //
    // allow-inhibiting=false can be applied to other binds as well, which
    // ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false hotkey-overlay-title="Always process even with inhibitor" {
        toggle-keyboard-shortcuts-inhibit
    }
}
